<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include("./partials/head") %>

	<body>
		<!-- HEADER -->
		<%- include("./partials/header") %>

			<main>
				<div class="carrusel1">
					<img src="img/carrusel-image1.jpg" alt="carrusel1">
				</div>
				<div class="circulos">
					<div class="circulo"></div>
					<div class="circulo-relleno"></div>
					<div class="circulo"></div>
					<div class="circulo"></div>
					<div class="circulo"></div>
				</div>

				<section class="destacado">
					<h1 class="titulo">Destacados</h1>

					<section class="products">
						<% products.forEach(products=> { %>
							<article>
								<a href="/product">
									<img src="<%= products.img %>" alt="frutos-secos">
								</a>
								<div class="info">
									<h1>
										<%= products.titulo %>
									</h1>
									<p class="descripcion">
										<%= products.decripcion %>
									</p>
									<p class="precio">
										<%= products.precio %>
									</p>
								</div>
							</article>
							<% }); %>
					</section>
					<a href="/products">
						<button class="ver-mas-productos">Ver más productos</button>
					</a>
				</section>
			</main>

			<!-- FOOTER -->
			<%- include("./partials/footer") %>

	</body>

</html>