<!DOCTYPE html>
<html lang="en">

<!-- HEAD -->
<%- include("./partials/head") %>

    <body>
        <!-- HEADER -->
        <%- include("./partials/header") %>

            <main>

                <section class="detalles">
                    <h2>
                        <%=products[0].titulo%>
                    </h2>

                    <div class="product-details">

                        <img src="<%= products[0].img %> " alt="mielLiquida">

                        <div class="info-product-details">
                            <p class="descrip">
                                <%= products[0].descripcion %>
                            </p>
                            <p class="precio">
                                <%= products[0].precio %>
                            </p>
                            <a href="/carrito">
                                <button class="boton-agregar">Agregar al carrito</button>
                            </a>
                        </div>
                    </div>
                </section>

                <p class="boton-compartir">Compartir</p>
                <section class="compartir">

                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>

                </section>

                <h4 class="titulo-art-relacionado">Articulos relacionados</h4>

                <section class="productos-relacionados">

                    <div class="articulo-relacionado">
                        <a href="">
                            <img src="<%  %> ">
                        </a>
                        <div class="info">
                            <h1>
                                <% %>
                            </h1>
                            <p class="descripcion">
                                <% %>
                            </p>
                            <p class="precio">
                                <% %>
                            </p>
                            <p class="agregar">Agregar al carrito</p>
                        </div>
                    </div>

                </section>


            </main>

            <!-- FOOTER -->
            <%- include("./partials/footer") %>

    </body>

</html>